# backend
/backend/bin/
/backend/build/
/backend/dist/
/backend/tmp/
/backend/tmp/*

# binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# output files
*.out

# env
.env
.env.local
.env.*
!.env.example

# misc
test.md

# logs
*.log
logs/

# ide
.vscode/
.idea/
*.swp

# docker
/volumes/

# frontend
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/

# next
.next/
out/

# air
.air.toml

# tmp
tmp/